.banner{
    filter: brightness(40%);
}
@media only screen and (max-width: 576px) {
    .banner-text p{
        font-size: 10px;
    }
    .banner-text h1{
        font-size: 20px;
    }
    .banner-text button{
        font-size: 8px;
    }
}